{% extends 'base.html' %}

{% block head %}
<title>SmartTherm API</title>
{% endblock %}

{% block body %}
<div class="content">
    
    <!-- temp trend graph -->
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">API End Points</h5>
                <h2 class="card-title">API Usage/Details Page Coming Soon!</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}