<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">

        <!-- Resources -->

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='img/favicons/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='img/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Fonts and Icons -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/f24fddb5a2.js" crossorigin="anonymous"></script>

        <!-- css files -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/black-dashboard.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nucleo-icons.css') }}"/>

        <!-- Css for demo purpose -->
        <link rel="stylesheet" href="{{ url_for('static', filename='demo/demo.css') }}"/>

        {% block head %}{% endblock %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="wrapper">
            <div class="sidebar">
              <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red" -->
            <div class="sidebar-wrapper">
                <div class="logo">
                  <a href="javascript:void(0)" class="simple-text logo-mini">
                    NH
                  </a>
                  <a href="javascript:void(0)" class="simple-text logo-normal">
                    Nuthouse
                  </a>
                </div>
                <ul class="nav">
                  <li class="active ">
                    <a href="/">
                      <i class="fas fa-home"></i>
                      <p>Home</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="nucleo-icons icon-atom"></i>
                      <p>API Details</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="nucleo-icons icon-pin"></i>
                      <p>Help</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="nucleo-icons icon-bell-55"></i>
                      <p>Notifications</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="nucleo-icons icon-single-02"></i>
                      <p>User Profile</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="nucleo-icons icon-puzzle-10"></i>
                      <p>Store</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="main-panel">
              <!-- Navbar -->
              <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                  <div class="navbar-wrapper">
                    <div class="navbar-toggle d-inline">
                      <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                      </button>
                    </div>
                    <a class="navbar-brand" href="javascript:void(0)">Thermostat Dashboard</a>
                  </div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                      <!-- <li class="search-bar input-group">
                        <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="nucleo-icons icon-zoom-split" ></i>
                          <span class="d-lg-none d-md-block">Search</span>
                        </button>
                      </li> -->
                      <li class="dropdown nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                          <div class="notification d-none d-lg-block d-xl-block"></div>
                          <i class="nucleo-icons icon-sound-wave"></i>
                          <p class="d-lg-none">
                            Notifications
                          </p>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                          <li class="nav-link"><a href="#" class="nav-item dropdown-item">Notifications Here</a></li>
                          <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Guest set the temp</a></li>
                          <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Guest updated the schedule</a></li>
                          <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Guest linked to google home</a></li>
                        </ul>
                      </li>

                      <li class="  ">
                        <div class="fixed-plugin">
                          <div class="">
                            <a href="#" data-toggle="dropdown">
                              <i class="fa fa-cog fa-2x"> </i>
                            </a>
                            <ul class="dropdown-menu ">
                              <li class="header-title"> Sidebar Background</li>
                              <li class="adjustments-line">
                                <a href="javascript:void(0)" class="switch-trigger background-color">
                                  <div class="badge-colors text-center">
                                    <span class="badge filter badge-primary active" data-color="primary"></span>
                                    <span class="badge filter badge-info" data-color="blue"></span>
                                    <span class="badge filter badge-success" data-color="green"></span>
                                  </div>
                                  <div class="clearfix"></div>
                                </a>
                              </li>
                              <li class="adjustments-line text-center color-change">
                                <span class="color-label">LIGHT MODE</span>
                                <span class="badge light-badge mr-2"></span>
                                <span class="badge dark-badge ml-2"></span>
                                <span class="color-label">DARK MODE</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>


                      <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                          <div class="photo">
                            <img src="{{ url_for('static', filename='img/anime3.png') }}" alt="Profile Photo">
                          </div>
                          <b class="caret d-none d-lg-block d-xl-block"></b>
                          <p class="d-lg-none">
                            Log out
                          </p>
                        </a>
                        <!-- Mobile view toggle -->
                        <ul class="dropdown-menu dropdown-navbar">
                          <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                          <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                          <li class="dropdown-divider"></li>
                          <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
                        </ul>
                      </li>
                      <li class="separator d-lg-none"></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="nucleo-icons icon-simple-remove"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Navbar -->
        
        {% block body %}{% endblock %}
        
              <!-- Footer -->
              <footer class="footer">
                <div class="container-fluid">
                  <ul class="nav">
                    <li class="nav-item">
                        <a href="https://dylanrae.ca/" target="_blank" rel="noopener noreferrer" class="nav-link">Dylan Rae</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://dylanrae.ca/ST-details.html" target="_blank" rel="noopener noreferrer" class="nav-link">Project Details</a>
                    </li>
                    <li class="nav-item">
                        <li class="nav-item">
                            <a href="https://dylanrae.ca/ST-details.html#updates" target="_blank" rel="noopener noreferrer" class="nav-link">Updates</a>
                        </li>
                    </li>
                  </ul>
                  <div class="copyright">
                    ©
                    <script>
                      document.write(new Date().getFullYear())
                    </script> made by
                    <a href="https://dylanrae.ca/" target="_blank" rel="noopener noreferrer">Dylan Rae</a>
                  </div>
                </div>
              </footer>
            </div>
          </div>



        <!-- Core JS Files -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/core/jquery.js') }}">\x3C/script>')</script>
        <script src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}" ></script>
        
        <!-- Plugin JS Files -->
        <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/chartjs.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/bootstrap-notify.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/pureknob.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins/dayjs.min.js') }}"></script>

        <!-- Main Control center, parallax effects, scripts for example pages, etc. -->
        <!-- The below three files should all be integrated together -->
        <script src="{{ url_for('static', filename='js/black-dashboard.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/demo.js') }}"></script> -->
        <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/appearance.js') }}"></script>

        <script defer async type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        
        
        <!-- <script>
            $(document).ready(function() {
              // Javascript method's body can be found in assets/js/demos.js
              demo.initDashboardPageCharts();
        
            });
        </script> -->

        <!-- Don't know why this script isnt in a file -->
        <script>
            // $(document).ready(function() {
            //   $().ready(function() {
            //     $sidebar = $('.sidebar');
            //     $navbar = $('.navbar');
            //     $main_panel = $('.main-panel');
            //     $temp_button = $('.temp-button');
        
            //     $full_page = $('.full-page');
        
            //     $sidebar_responsive = $('body > .navbar-collapse');
            //     sidebar_mini_active = true;
            //     white_color = false;
        
            //     window_width = $(window).width();
        
            //     fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
        
        
        
            //     $('.fixed-plugin a').click(function(event) {
            //       if ($(this).hasClass('switch-trigger')) {
            //         if (event.stopPropagation) {
            //           event.stopPropagation();
            //         } else if (window.event) {
            //           window.event.cancelBubble = true;
            //         }
            //       }
            //     });
        
            //     $('.fixed-plugin .background-color span').click(function() {
            //       $(this).siblings().removeClass('active');
            //       $(this).addClass('active');
        
            //       var new_color = $(this).data('color');
        
            //       if ($sidebar.length != 0) {
            //         $sidebar.attr('data', new_color);
            //       }
        
            //       if ($main_panel.length != 0) {
            //         $main_panel.attr('data', new_color);
            //       }
        
            //       if ($full_page.length != 0) {
            //         $full_page.attr('filter-color', new_color);
            //       }
        
            //       if ($sidebar_responsive.length != 0) {
            //         $sidebar_responsive.attr('data', new_color);
            //       }

            //       if ($temp_button.length != 0) {
            //         $temp_button.attr('data', new_color);
            //       }
            //     });
        
            //     $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
            //       var $btn = $(this);
        
            //       if (sidebar_mini_active == true) {
            //         $('body').removeClass('sidebar-mini');
            //         sidebar_mini_active = false;
            //         blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
            //       } else {
            //         $('body').addClass('sidebar-mini');
            //         sidebar_mini_active = true;
            //         blackDashboard.showSidebarMessage('Sidebar mini activated...');
            //       }
        
            //       // we simulate the window Resize so the charts will get updated in realtime.
            //       var simulateWindowResize = setInterval(function() {
            //         window.dispatchEvent(new Event('resize'));
            //       }, 180);
        
            //       // we stop the simulation of Window Resize after the animations are completed
            //       setTimeout(function() {
            //         clearInterval(simulateWindowResize);
            //       }, 1000);
            //     });
        
            //     $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
            //       var $btn = $(this);
        
            //       if (white_color == true) {
        
            //         $('body').addClass('change-background');
            //         setTimeout(function() {
            //           $('body').removeClass('change-background');
            //           $('body').removeClass('white-content');
            //         }, 900);
            //         white_color = false;
            //       } else {
        
            //         $('body').addClass('change-background');
            //         setTimeout(function() {
            //           $('body').removeClass('change-background');
            //           $('body').addClass('white-content');
            //         }, 900);
        
            //         white_color = true;
            //       }
        
        
            //     });
        
            //     $('.light-badge').click(function() {
            //       $('body').addClass('white-content');
            //     });
        
            //     $('.dark-badge').click(function() {
            //       $('body').removeClass('white-content');
            //     });
            //   });
            // });
          </script>
    </body>
</html>