{% extends 'base.html' %}

{% block head %}
<title>SmartTherm</title>
{% endblock %}

{% block body %}
<div class="content">
    <!-- Three info panels -->
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Current Temperature</h5>
            <h3 class="card-title"><i class="fas fa-thermometer-half text-primary"></i> <span id=upstairsTemp></span> <span>&#176;</span>C</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Current Set Temperature</h5>
            <h3 class="card-title"><i class="fas fa-bullseye text-info"></i> <span id=setTemp></span> <span>&#176;</span>C</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <div class="setTempCard">
                  <div id="knob"></div>

                  <form id="setTempForm">
                    <!-- <div class="form-container"> -->
                      <label for="newSetTemp">Enter your desired temperature: </strong></label>
                    <!-- </div> -->
                    
                    <!-- <div class="form-container"> -->
                      <input id="newSetTemp" name="newSetTemp" type="text" placeholder="Enter temp">
                    <!-- </div> -->
                    
                    <!-- <div class="form-container"> -->
                      <p><span id="setTempResult"></span></p>
                      <button type="submit" class="temp-button btn btn-primary btn-round">Set</button>
                    <!-- </div> -->
                  </form>
                </div>
              <!-- <canvas id="CountryChart"></canvas> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Last Update</h5>
            <h3 class="card-title"><i class="nucleo-icons icon-send text-success"></i> <span id=time></span> - <span id=date></span></h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <span class="furnace-status-icon"></span>
              <h5 class="furnace-status-text">Furnace Status:</h5> <p class="furnace-status-result"></p>




            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- temp trend graph -->
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Historical Trend</h5>
                <h2 class="card-title">Temperature</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Day</span>
                    <span class="d-block d-sm-none">
                      <i class="fas fa-calendar-day"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Week</span>
                    <span class="d-block d-sm-none">
                      <i class="fas fa-calendar-week"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Month</span>
                    <span class="d-block d-sm-none">
                      <i class="far fa-calendar"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- Bottom detail panels -->
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Set Temperature History</h5>
            <h3 class="card-title"><i class="fas fa-bullseye text-info"></i> <span class=setTemp></span> <span>&#176;</span>C</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="CountryChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Power Savings & Weather</h4>
          </div>
          <div class="card-body">
              <h1>Coming Soon!</h1>
              <div class="chart-area">
                <canvas id="chartLineGreen"></canvas>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- <h1>Nuthouse SmartTherm</h1>

    <p><strong>Current Set Temp:</strong> <span id=setTemp></span> <span>&#176;</span>C</p>
    <p><strong>Current Upstairs Temp:</strong> <span id=upstairsTemp></span> <span>&#176;</span>C</p>
    <p><strong>Current Downstairs Temp:</strong> <span id=downstairsTemp></span></p>
    <p><strong>Furnace:</strong> <span id=furnaceStatus></span></p>
    <p><strong>Last Update:</strong> <span id=time></span> - <span id=date></span></p>

    <form id="setTempForm">
        <label for="newSetTemp">Enter a new set temperature: </label>
        <input id="newSetTemp" name="newSetTemp" type="text" value="">
        <input type="submit" value="Send">
    </form>
    <p><span id="setTempResult"></span></p> -->
{% endblock %}