{% extends 'base.html' %}

{% block head %}
<title>SmartTherm Schedule</title>
{% endblock %}

{% block body %}
<div class="content">
    
    <!-- temp trend graph -->
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Temperature Schedule</h5>
                <h2 class="card-title">Schedule with Preheating Coming Soon!</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Day</span>
                    <span class="d-block d-sm-none">
                      <i class="fas fa-calendar-day"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Week</span>
                    <span class="d-block d-sm-none">
                      <i class="fas fa-calendar-week"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Month</span>
                    <span class="d-block d-sm-none">
                      <i class="far fa-calendar"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}