{% extends 'base.html' %}

{% block head %}
<title>SmartTherm Schedule</title>
{% endblock %}

{% block body %}
<div class="content">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row pl-3">
            <div class="col-lg-12 text-left">
              <h5 class="card-category">Temperature Schedule</h5>
              <h2 class="card-title">Set Schedule</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
              <form id="setScheduleForm" action = "{{ url_for('setScheduleTemp') }}" method="GET">
                <div class="row pl-3">
                  <label for="scheduleTime" class="col-sm-4 col-form-label">Time:</label>
                  <div class="sol-sm-8">
                    <input type="time" id="scheduleTime" name="scheduleTime" required>
                  </div>
                </div>
                
                <div class="row pl-3">
                  <label for="scheduleTemp" class="col-sm-4 col-form-label">Temperature:</label>
                  <div class="sol-sm-8">
                    <input type="text" id="scheduleTemp" placeholder="Set Temperature"  name="setTemp" required/>
                  </div>
                </div>

                <div class="row pl-3">
                  <label for="jobID" class="col-sm-4 col-form-label">Schedule ID:</label>
                  <div class="sol-sm-8">
                    <input type="text" id="jobID" placeholder="Unique ID"  name="jobID" required/>
                  </div>
                </div>

                <div class="row pl-3">
                  <label for="preheat" class="col-sm-4 col-form-label">Preheat?</label>
                  <div class="sol-sm-8">
                    <input class="form-check-input" type="checkbox" checked="checked" name="remember" id="preheat" value="on"/>
                    <input type="hidden" name="remember"/>
                  </div>
                </div>

                <div class="row pl-3">
                  <div class="col-lg-12 text-center">
                    <button type="submit" id="setScheduleBtn" class="btn btn-primary btn-round">Set Schedule</button>
                  </div>
                </div>
                
              </form>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-header ">
          <div class="row pl-3">
            <div class="col-lg-12 text-left">
              <h5 class="card-category">Temperature Schedule</h5>
              <h2 class="card-title">Delete Schedule</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form id="deleteScheduleForm" action = "{{ url_for('deleteScheduleTemp') }}" method="GET">

            <div class="row p-3">
              <label for="removeJobID" class="col-sm-4 col-form-label">Schedule ID:</label>
              <div class="sol-sm-8">
                <input type="text" id="removeJobID" placeholder="Unique ID"  name="jobID" required/><br>
              </div>
            </div>

            <div class="row p-3">
              <div class="col-lg-12 text-center">
                <button type="submit" id="deleteScheduleBtn" class="btn btn-primary btn-round">Delete Schedule</button>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <div class="card">
        <div class="card-header ">
          <div class="row">
            <div class="col-lg-12 text-left">
              <h5 class="card-category">Temperature Schedule</h5>
              <h2 class="card-title">Current Schedule</h2>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table tablesorter">

              <thead class=" text-primary">
                <tr>
                  <th>Time</th>
                  <th>Set Temp</th>
                  <th>Pre Heat</th>
                  <th class="alignRight">Schedule ID</th>
                </tr>
              </thead>
              <tbody id="scheduleTable">

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <script>
                      alert(" {{ message|safe }} ")
                    </script>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            {% endblock %}

{% block scripts %}
          <script src="{{ url_for('static', filename='js/schedule.js') }}"></script>
          <script>
            // mainFunc({{ current_user.is_authenticated }})
            {% if current_user.is_authenticated %}
              mainFunc(true);
            {% else %}
              mainFunc(false);
            {% endif %}
          </script>
{% endblock %} 