{% extends 'base.html' %}

{% block head %}
<title>SmartTherm Store</title>
{% endblock %}

{% block body %}
<div class="content">
    
    <!-- temp trend graph -->
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Store</h5>
                <h2 class="card-title">Store Home</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- example produxts for purchase 1. Base unit, 2. Extended temp sensor unit 3. Data storage from 1GB to 50GB additional -->
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}