{% extends 'base.html' %}

{% block head %}
<title>SmartTherm User Profile</title>
{% endblock %}

{% block body %}
<div class="content">
    
    <!-- temp trend graph -->
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">User</h5>
                <h2 class="card-title">Welcome Dylan</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- simple user profile page -->
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}